<div class="container">
  <app-qheader  (copyButtonClicked)="onCopyButtonClicked()" (deleteButtonClicked)="onDeleteButtonClicked()" ></app-qheader>
  <div class="question-form">
    <div class="question-form-statement">
      <span class="moveit"></span>
      <div class="just-container">
        <app-input
          (newValue)="setChoiceStatement($event)"
          [value]="question.statement"
        ></app-input>
      </div>
    </div>
    <div class="rest">
      <div style="width: 50%;" class="options_container" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <app-option
        (removeThis)="removeThisOption(i)"
          (newValue)="setChoiceOption($event, i)"
          [value]="option"
          cdkDrag
          *ngFor="let option of question.options; let i = index"
        ></app-option>
      </div>
      <app-add-op-state (addRegularOption)="addRegularOptionF()" [other]="false"></app-add-op-state>
    </div>
    <app-qfooter [long_on]="false" [multiple_on]="false"></app-qfooter>
  </div>
</div>
