.container {
    padding: 27px 18px 16px;
    background: var(--form-bg);
}

.question {
    display: flex;
    font-size: 17px;
    gap: 6px;
}

.rest {
    margin: 20px 0 0;
    padding: 0 0 0 20px;
}