<div class="preview">
    <div class="preview_nav">
      <mat-toolbar style="padding: 0 25%">
        <button (click)="backButtonClicked($event)" mat-raised-button>
          <div style="display: flex; align-items: center; gap: 10px">
            <span class="material-symbols-outlined"> arrow_back </span>
            <span>Back</span>
          </div>
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button style="margin-right: 20px;">
          <div style="display: flex; align-items: center; gap: 10px">
            <span class="material-symbols-outlined"> computer </span>
            <span>Computer</span>
          </div>
        </button>
        <button mat-raised-button>
          <div style="display: flex; align-items: center; gap: 10px">
            <span class="material-symbols-outlined"> phone_iphone </span>
            <span>Mobile</span>
          </div>
        </button>
      </mat-toolbar>
    </div>
  
    <div class="preview_questions">
      <app-header-pre [header]="header"></app-header-pre>
      <div *ngFor="let question of questions; let i = index;" class="preview_single_question">
          <app-choice-pre [question_number]="i+1" [question]="question" *ngIf="question.type === 'choice'"></app-choice-pre>
          <app-date-pre [question_number]="i+1" [question]="question" *ngIf="question.type === 'date'"></app-date-pre>
          <app-text-pre [question_number]="i+1" [question]="question" *ngIf="question.type === 'text'"></app-text-pre>
          <app-rating-pre [question_number]="i+1" [question]="question" *ngIf="question.type === 'rating'"></app-rating-pre>
          <app-ranking-pre [question_number]="i+1" [question]="question"  *ngIf="question.type === 'ranking'"></app-ranking-pre>
      </div>
    </div>
  </div>
  