<div class="container">
  <div class="question">
    <span>{{ question_number }}.</span>
    <p>{{ question.statement }}</p>
  </div>
  <div class="rest">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="selectedOption"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of question.options"
        [value]="option"
      >
        {{ option }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
