<p>
  <mat-toolbar>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon">
      <span class="material-symbols-outlined"> content_copy </span>
    </button>

    <button mat-icon-button class="example-icon">
      <span class="material-symbols-outlined"> delete </span>
    </button>

    <button mat-icon-button class="example-icon">
      <span class="material-symbols-outlined"> arrow_downward </span>
    </button>

    <button mat-icon-button class="example-icon">
        <span class="material-symbols-outlined">
            arrow_upward
            </span>
    </button>
  </mat-toolbar>
</p>
