<div class="container">
  <app-qheader (copyButtonClicked)="onCopyButtonClicked()" (deleteButtonClicked)="onDeleteButtonClicked()" ></app-qheader>
  <div class="question-form">
    <div class="question-form-statement">
      <span class="moveit"></span>
      <div class="just-container">
        <app-input
          (newValue)="setChoiceStatement($event)"
          [value]="question.statement"
        ></app-input>
      </div>
    </div>
    <div class="rest">
      <app-input
        [disable]="true"
        [showIcon]="false"
        placeholder="Enter your answer"
      ></app-input>
    </div>
    <app-qfooter [multiple_on]="false"></app-qfooter>
  </div>
</div>
